ion-item{
    --border-color : var(--ion-color-tertiary)
}

.label-small{
    font-size: .8em;
    text-align: right;
}

.label-medium{
    font-size: .8em;
}

.label-large{
    font-size: 1em;
}

.delete-button{
    height: 100%;
    --box-shadow: none;
}

.delete-button:hover{
    color: var(--ion-color-tertiary);
}

.tip-padding{
    padding-top: 5%;
    padding-left: 5%;
}

.list-padding{
    padding-right: 6%;
}